<div class="container-fluid my-3 h-100">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div>
      <div class="d-flex flex-row justify-content-between">
        <h2>My Firechat</h2>
        <button type="button" class="btn btn-danger" *ngIf="_cs.usuario.uid" (click)="_cs.logout()">Salir</button>
      </div>
      <hr>
      <app-login *ngIf="!_cs.usuario.uid" style="display: none;" [ngClass]="{'d-block':!_cs.usuario.uid}"></app-login>
      <app-chat *ngIf="_cs.usuario.uid" style="display: none;" [ngClass]="{'d-block':_cs.usuario.uid}"></app-chat>
    </div>
  </div>
</div>
